
{% extends "commons/base.html" %}  
{% load static %}
{% load crispy_forms_tags %}





{% block Page_Title  %}

<div class="row justify-content-center">
<h1>Passowrd Reset Complete</h1>
</div>

{% endblock Page_Title %}  







{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-4.5">
    <div class="card">
    <div class="card-body">
    <form enctype="multipart/form-data" " method="post" novalidate>
    
<h4> Your New Password Has Been Set. You Can Login Now </h4>

<a  href="{% url 'login' %}" role="button" style="float:lieft" class="btn btn-success">Re-Login</a>
<!-- الدخول إلى الموقع -->
<br>
<br>
<a  href="{% url 'Index_URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page</a>

</div>
</div>
</div>
</div>

{% endblock Contents_Page %} 




