{% extends "commons/base.html" %}  
{% load static %}
{% load crispy_forms_tags %}






{% block Page_Title  %}

<div class="row justify-content-center">
<h1>Password Reset Done</h1>
</div>

{% endblock Page_Title %}  






{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-4.5">
    <div class="card">
    <div class="card-body">
    
<h4>Check your inbox .</h4>
<!-- <h2 class="font-weight-bold mt-3">Password Reset Sent</h2> -->
<p>We've Emailed You Instructions For Setting Your Password. If They Haven't Arrived In a Few Minutes, Check Your Spam Folder (Junk Email).</p>
<a  href="{% url 'Index_URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page</a><!-- الدخول إلى الموقع -->

</div>
</div>
</div>
</div>

{% endblock Contents_Page %} 
