
{% extends "commons/base.html" %}  
    {% load static %}
{% load crispy_forms_tags %}

    
    
    
    {% block Page_Title  %}
    
    <div class="row justify-content-center">
    <h1>Password Change Done</h1>
    </div>
    
    {% endblock Page_Title %}  
    
    
    
    
    
    
    {% block Contents_Page %} 
    
    <div class="row justify-content-center">
        <div class="col-5">
        <div class="card">
        <div class="card-body">
    
    <h5> Your Password Has Been Successfully Changed</h5>    
    
</div>
</div>
</div>
</div>

    {% endblock Contents_Page %} 
